body{
    font-family: robot,lato !important;
    font-size:large;
 
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.logo{
    height:43px;
}
.navbar-brand{
    font-size:27px;
    padding-left:10px;
    font-family: 'Lato';


}
/* Now first we will target the anchor tag which is under nav-item */
.nav-item a{
    color: white !important;
    font-size: 16px;
    padding: 0 0 10 10;
    font-weight: 600;

}
.display-center{
    display:flex;
    justify-content: center;
    align-items: center;
}
/* Now we will target the buttons to apply space between them */
li.nav-item{
    /* left-right top-bottom */
    padding: 0 10px;

}
.signin-image{
    height:390px;
    border:25px solid white;
    border-radius:5px;
    box-shadow: 1px 1px 5px grey;
       

}
/* This means in any text area or in any input tag we donot want outline */
textarea:focus,input:focus{
    outline: none !important;
}
.cursor-pointer{
    cursor: pointer;
}

.jumbotron{
    background-color: white;
}

/* CSS FOR INDEX.HTML */
.home-wrap{
    background-color: rgb(31,30,30);
}
.g-top{
    height: 89vh;
    position: relative;

}
.video-wrap{
    height: 600px;
}
/* Now >* this will select everything which is inside the video-wrap class */
.video-wrap>*{
    /* <flex grow> <flex shrink> <flex basis> */
     flex: 1 1 250px;
     border: 1px solid white;
}
.g-top-left{
    position: absolute;
    right: 0;
    height:8vh;
    top: 0;
    border-bottom-left-radius: 10px;
     
}
.top-left-participant-wrap{
    position: relative;

}
.cursor-pointer :hover{
    cursor: pointer;
    padding: 5px;
    background-color: rgb(226,225,225);
    border-radius: 5px;

}
/* The .top-left-participant-count is under top-left-participant so we will just add position to be absolute so it will folow according it eans 
this means top-left-participant-count class will be exactly in the area of top-left-participant*/
.top-left-participant-count{
    position:absolute;
    top: 2px;
    right: -3px;
    font-size: 15px;

}
.g-bottom{
    /* top-bottom left-right */
    /* By Commenting out this margin we will remove horizontal scroll */
    /* margin: 0 -10px !important; */
    padding: 0 20px;
    box-shadow: 0 0 5px black;
    z-index: 2; 

}
/* Now after doin this g-bottom it is goin oustside screen and we need to scroll to see below items to stop this */
.bottom-left{
    position: relative;
    padding: 5px;
}
.action-icon-style{
    font-size: 8px !important;
    height: 40px;
    width: 40px;
    border: 1px solid lightgray;
    border-radius: 50%;


}
.action-icon-style span material-icons{
    
}
.end-call-wrap{
    /* For Microsoft Browser */
    -ms-transform: rotate(135deg);
    /* For Chrome */
    transform: rotate(135deg);
}
.top-remote-video-show-wrap{
    justify-content: center;
    align-items: center;
    height: 100%;
}
video{
    border: 1px solid gray;
    width: 300px;
}
.active{
    background-color: #00808047;
    border-radius: 5px;

}
.top-box{
    background-color: rgb(14 6 6);
    position: fixed;
    width: 30%;
    height: 30%;
    top:20.5%;
    left:35.5%;
    display: block;
    box-shadow: 0 0 5px white;
    border-radius: 10px;
    z-index: 999;
    columns: white;
    border: 2px solid white;
    
    
}
.bottom-left{
    position: relative;
     padding: 5px;

}
.g-details{
    position: absolute;
    width: 30vw;
    background-color: white;
    margin-top: -135px;
    counter-reset: black;

    border-radius: 5px;
    padding: 5px;
}
.g-details-heading-show{
    font: 14px;
    padding-left: 10px;

}
.recording-show{
    position: absolute;
    margin-bottom: 132px;
    
    display: none;
}
#joinbtn{
    color: #1a73e8 !important;
}
#sign{
    color: grey !important; 
}



